.fakeimg {
    height: 130px;
    width: 135px;
    margin-top: 10px;
    background-color: grey;
}

.overlay {
    position: absolute;
    color: white;
    margin-top: 65px;
    margin-left: 42px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.addpro {
    height: 130px;
    width: 135px;
    margin-top: 10px;
    background-color: grey;
}

h6 {
    letter-spacing: 1px;
}

.checked {
    color: orange;
}

span {
    margin-left: 8px;
}

.combine {
    height: 190px;
    width: 135px;
    margin-left: 1.5vw;
}

.new {
    height: 190px;
    width: 135px;
    margin-left: 3.5vw;
}

.detail {
    height: 100%;
    /* background: #aaa; */
}

.hanger {
    height: 50px;
    width: 135px;
}

.dp {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.profile {
    /* background-color: rebeccapurple; */
    margin-left: 14.5vw;
    margin-top: 5vw;
}

.name {
    margin-left: .7vw;
}

.about {
    margin-top: 5vw;
}

.me {
    width: 20vw;
    margin-left: 9.5vw;
    /* background-color: blue; */
}

.line {
    background-color: grey;
    width: 1px;
    height: 75vh;
}

.abo {
    margin-left: 16.8vw;
}

.gap {
    margin-top: 2vw;
    margin-left: 5px;
    /* background-color: chartreuse; */
}

.icons {
    margin-left: 3vw;
}

.del {
    color: red;
    cursor: pointer;
}

.edit {
    margin-left: 35px;
    color: green;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .line {
        height: 1px;
        width: 70vw;
        margin-left: 15vw
    }
    .profile {
        margin-left: 35vw;
        margin-top: 3vw;
    }
    .about {
        margin-top: 2vw;
    }
    .abo {
        margin-left: 38vw;
    }
    .me {
        width: 80vw;
        margin-left: 9.5vw;
    }
}

@media only screen and (max-width: 402px) {
    .combine {
        margin-left: 20vw;
    }
    .icons {
        margin-left: 20vw;
    }
    .new {
        margin-left: 22vw;
    }
    .profile {
        margin-left: 25vw;
        /* background-color: red; */
    }
    .about {
        margin-top: 1vw;
    }
    .abo {
        margin-left: 32vw;
    }
    .me {
        width: 90vw;
        margin-left: 2vw;
    }
    .dp {
        margin-left: 5vw;
        width: 100px;
        height: 100px;
    }
}