<div class="row container-fluid" style="margin-top: 1vw;">
    <div class="col-md-5 ">

        <div class="fake">Fake Image</div>


    </div>

    <div class="col-md row " style="margin-top: 1vw;">
        <div style="width: 100%;height:70px;">
            <h6 style="margin-left: 1.5vw;">UPLOAD NEW PRODUCTS</h6>
        </div>

        <div class="col-lg-3 col-sm-6">
            <div class="combine ">
                <img src="../../assets/images/hanger.png " class="hanger ">

                <img src="../../assets/images/truffle.jpg " class="fakeimg ">
            </div>
            <p style="margin-left: 1.5vw;">Some text..</p>

        </div>
        <div class="col-lg-3 col-sm-6 ">

            <div class="combine ">
                <img src="../../assets/images/hanger.png " class="hanger ">

                <img src="../../assets/images/truffle.jpg " class="fakeimg ">
            </div>
            <p style="margin-left: 1.5vw;">Some text..</p>
        </div>
        <div class="col-lg-3 col-sm-6 ">

            <div class="combine ">
                <img src="../../assets/images/hanger.png " class="hanger ">

                <img src="../../assets/images/truffle.jpg " class="fakeimg ">
            </div>
            <p style="margin-left: 1.5vw;">Some text..</p>
        </div>
        <div class="col-lg-3 col-sm-6 ">

            <div class="combine ">
                <img src="../../assets/images/hanger.png " class="hanger ">

                <img src="../../assets/images/truffle.jpg " class="fakeimg ">
            </div>
            <p style="margin-left: 1.5vw;">Some text..</p>

        </div>
        <div class="col-lg-3 col-sm-6 ">

            <div class="combine ">
                <img src="../../assets/images/hanger.png " class="hanger ">

                <img src="../../assets/images/truffle.jpg " class="fakeimg ">
            </div>
            <p style="margin-left: 1.5vw;">Some text..</p>
        </div>
        <div class="col-lg-3 col-sm-6 ">

            <div class="combine ">
                <img src="../../assets/images/hanger.png " class="hanger ">

                <img src="../../assets/images/truffle.jpg " class="fakeimg ">
            </div>
            <p style="margin-left: 1.5vw;">Some text..</p>

        </div>
    </div>
</div>
