<div class="row container-fluid" style="margin-top: 2vw;">
    <div class="col-md-5 detail ">

        <div class="profile">
            <img class="dp" src="../../assets/images/raichel suseel.jpg">
            <h5 class="name">Raichel Suseel</h5>
            <div style="margin-left:.9vw">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>
        </div>
        <div class="about">
            <h6 class="abo">ABOUT ME</h6>
            <div class="me">
                <p style="text-align:center">I am a commercial fashion designer. Fashion for me is a creative endeavor, but it is not art for me</p>
            </div>
        </div>


    </div>
    <div class="line"></div>
    <div class="col-md row gap">
        <div style="width: 100%;height:55px;">
            <h6 style="margin-left: 1.5vw;">UPLOAD NEW PRODUCT</h6>
        </div>

        <div class="col-lg-3  col " *ngFor="let item of dress">
            <div class="combine ">
                <img src="../../assets/images/hanger.png " class="hanger ">

                <img src="../../assets/images/truffle.jpg " class="fakeimg ">
            </div>
            <p class="icons" style="margin-top: 5px;">
                <span (click)="remove()" class="fas fa-trash-alt del"></span>
                <span (click)="edit()" class="fas fa-edit edit"></span>
            </p>

        </div>
        <div class="new ">
            <img src="../../assets/images/hanger.png " class="hanger ">
            <a [routerLink]="['/addNew']">
                <img src="../../assets/images/plus.png " class="fakeimg ">
            </a>
        </div>

    </div>

</div>