<div class="row ">
    <div class="col-md-6">
        <div class="col-sm-4" style="float: left;margin-top: 2vw;">
            <img src="../../assets/images/truffle.jpg" class="smallimg">
            <img src="../../assets/images/plus.png" class="smallimg">
            <img src="../../assets/images/plus.png" class="smallimg">
        </div>
        <div class="col-sm-6" style="float: left;margin-top: 1vw;">
            <img src="../../assets/images/truffle.jpg" class="mainImg">

            <input type="file" id="ami">
        </div>

    </div>

    <div class="col-sm-6 arrange">
        <div style="margin-left: 1vw;">
            <div class="pro">

                <img src="../../assets/images/raichel suseel.jpg" class="dp">
                <div class="rating">
                    <h6 class="name">Raichel Suseel</h6>
                    <div>
                        <span class="fa fa-star checked "></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </div>
            </div>

            <div class="proDetail">
                <h6>PRODUCT NAME</h6>
                <input class="input" type="text">
            </div>
            <div class="package">
                <h6>OUTFIT PACKAGE</h6>
                <input type="date" class="period input" placeholder="CHOOSE RENTAL PERIOD">

                <h6>CONDITION</h6>
                <select>
              <option value="Good">Good</option>
              <option value="New">New</option>
              <option value="Used">Used</option>

            </select>
                <div>
                    <div class="rental">
                        <h6>RENTAL RATE</h6>
                        <input type="text" class="box input" placeholder="$00.00">
                    </div>
                    <div class="retail">
                        <h6>RETAIL RATE</h6>
                        <input type="text" class="box input" placeholder="$00.00">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="package" style="margin-left: 5.5vw;">
            <h6>TYPE</h6>
            <input class="input" type="text">
            <h6>SUBTYPE</h6>
            <input class="input" type="text">
            <h6>MATERIAL</h6>
            <select>
          <option value="Cotton">Cotton</option>
          <option value="Leather">Leather</option>
          <option value="Nylon">Nylon</option>
          <option value="Jeans">Jeans</option>
          <option value="Velvet">Velvet</option>

        </select>
            <h6>BRAND</h6>
            <select>
      <option value="Gucci">Gucci</option>
      <option value="Nike">Nike</option>
      <option value="Addidas">Addidas</option>
      <option value="Lacoste">Lacoste</option>


    </select>
            <h6>FIT</h6>
            <select>
          <option value="Loose">Loose</option>
          <option value="Tight">Tight</option>


        </select>
            <h6>OCCATION</h6>
            <select>
      <option value="Party">Party</option>
      <option value="Office">Office</option>
      <option value="Casual">Casual</option>

    </select>
            <h6>SIZE</h6>

            <button class="size" style="float: left;">XS</button>
            <button class="size1" style="float: left;">S</button>
            <button class="size1" style="float: left;">M</button>
            <button class="size1">+</button>
            <br>
            <h6>COLOR</h6>

            <div class="size" style="background-color:black;float: left;"></div>
            <div class="size1" style="background-color:lightblue;float: left;"></div>
            <div class="size1" style="background-color:white;float: left;padding-left: 8px;">+</div>

        </div>
    </div>
    <div class="col-md-6">
        <div class="adjust">
            <div class="package">
                <h6>PATTERN</h6>
                <select>
        <option value="Butterick">Butterick </option>
        <option value="Jalie">Jalie </option>
        <option value="KwikSew">KwikSew </option>

      </select>
                <h6>PRODUCT DETAILS</h6>
                <textarea class="big" placeholder="Type your product details here..."></textarea>
                <h6>DAMAGES</h6>
                <textarea class="big" placeholder="Type if any damages..."></textarea>
                <h6>CARE</h6>
                <select>
        <option value="Select">Select </option>
      </select>
                <br>
                <textarea class="big" placeholder="Type if any damages..."></textarea>
            </div>
        </div>
    </div>
</div>
<div class="btn">
    <button class="save">SAVE</button>
    <button class="publish">PUBLISH</button>

</div>
