.smallimg {
    width: 90px;
    height: 105px;
    margin-top: 10px;
    margin-left: 5vw;
}

.mainImg {
    /* width: 260px; */
    width: 23vw;
    height: 400px;
    margin-left: 2vw;
}

.ami {
    margin-top: 13px;
    width: 200px;
    border: 1px solid rgba(27, 78, 155, 0.856);
    padding: 2px;
    background-color: rgba(27, 78, 155, 0.856);
    text-align: center;
    text-decoration: none;
    color: white;
    margin-left: 2vw;
}

.dp {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    float: left;
}

.pro {
    width: 300px;
    height: 85px;
    margin-top: 1vw;
    position: relative;
    /* background-color: yellowgreen; */
}

.rating {
    top: 10px;
    position: absolute;
    left: 100px;
}

.checked {
    color: orange;
}

span {
    margin-left: 5px;
    font-size: 12px;
}

.proDetail {
    margin-top: 20px;
}

input {
    height: 25px;
    width: 30vw;
    border: 2px solid gainsboro;
}

.package {
    margin-top: 1vw;
}

.period {
    margin-top: 15px;
}

::placeholder {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

.package h6 {
    margin-top: 2vw;
}

select {
    width: 30vw;
    border: 2px solid gainsboro;
}

select:focus {
    width: 30vw;
}

option {
    margin-left: 5px;
}

.box {
    width: 100px;
}

.rental {
    float: left;
    width: 150px;
}

.retail {
    float: left;
    width: 110px;
    margin-left: 6vw;
}

.size {
    width: 30px;
    height: 30px;
    background-color: white;
    border: 1px solid gainsboro;
}

.size1 {
    width: 30px;
    height: 30px;
    background-color: white;
    border: 1px solid gainsboro;
    margin-left: 10px;
}

.big {
    width: 45vw;
    height: 118px;
}

.btn {
    /* background-color: red; */
    width: 100%;
    height: 50px;
    margin-top: 1vw;
}

.save {
    border: 1px solid rgba(27, 78, 155, 0.856);
    background-color: rgba(27, 78, 155, 0.856);
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 2px;
    width: 20vw;
}

.publish {
    margin-left: 10px;
    border: 1px solid rgba(8, 207, 157, 0.856);
    background-color: rgba(8, 207, 157, 0.856);
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 2px;
    width: 20vw;
}

@media only screen and (max-width: 767.5px) {
    .mainImg {
        width: 40vw;
    }
    .smallimg {
        margin-left: 10vw;
    }
    .retail {
        margin-left: .5vw;
    }
    .adjust {
        margin-left: 28vw;
    }
    select {
        width: 35vw;
    }
    select:focus {
        width: 35vw;
    }
    input {
        width: 35vw;
    }
}

@media only screen and (max-width: 575.5px) {
    .adjust {
        margin-left: 5vw;
    }
    .arrange {
        margin-left: 4vw;
    }
    .mainImg {
        margin-left: 22vw;
        width: 50vw;
        height: 350px;
    }
    .smallimg {
        margin-left: 14vw;
        width: 75px;
        height: 95px;
    }
    .ami {
        margin-left: 27vw;
        width: 40vw;
        font-size: 3vw;
    }
    select {
        width: 55vw;
    }
    select:focus {
        width: 55vw;
    }
    input {
        width: 55vw;
    }
    .big {
        width: 70vw;
    }
    .publish {
        width: 30vw;
    }
    .save {
        width: 30vw;
    }
}

@media only screen and (max-width: 439.5px) {
    .smallimg {
        margin-left: 9vw;
        width: 20vw;
        height: 95px;
    }
    .mainImg {
        height: 80vw;
    }
    select {
        width: 65vw;
    }
    select:focus {
        width: 65vw;
    }
    input {
        width: 65vw;
    }
    .big {
        width: 80vw;
    }
}
